*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #38385f;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #38385f;
  font-weight: bolder;
}

a button {
  width: 90%;
  border-radius: 0.2rem;
  border-style: none;
  font-weight: bolder;
}

a button:hover {
  background-color: #8d7bf7;
  color: white;
}

main {
  background: linear-gradient(to left bottom, #605b81, #8d7bf7);
}

.media_icons {
  width: 3rem;
  padding: 0;
}

.close_modal {
  background-color: #8d7bf7;
  color: white;
}

.contact_modal_content {
  position: relative;
  border-radius: 1rem;
}

.contact_modal_content h5 {
  border-bottom: solid 2px black;
}

.media_icons_angel {
  width: 2rem;
  height: 3rem;
}